body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  color: #555;
}
.hidden {
  display: none !important;
}
header {
  text-align: center;
  margin-bottom: 3em;
}

.interstitial-wrapper {
  position: relative;
  width: 600px;
  height: 150px;
}

.start-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

#resources {
  display: none;
}

#dark-mode {
  font-family: 'Press Start 2P', cursive;
  font-size: .6em;
  color: #555;
  padding: 5px 7px;
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
}

.dark-mode {
  background-color: #000;
  filter: invert(1);
}